body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin: 20px 0;
    width: 100%;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 8px;
    box-sizing: border-box;
  }
  
  #login-button {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    width: 100%;
  }
  
  #login-button:hover {
    background-color: #1E88E5;
  }
  